## EXERCISE 1:

Import the db.sql
- Under Server Administration on the Home window select the server instance you want to restore database to (Create New Server Instance if doing it first time).
- Click on Manage Import/Export
- Click on Data Import/Restore on the left side of the screen.
- Select Import from Self-Contained File radio button (right side of screen)
- Select the path of .sql
- Click Start Import button at the right bottom corner of window.

#### Tasks:
Use the reverse engine to see the ER model

Compare your solution with [this one](img/database-model-hr-new.png).

In [1]:
from IPython.display import Image
img = 'ER.png'
Image(url=img)

## EXERCISE 2

#### Database maintenance tasks:
1. Download the SQL database **db** from Microsoft Teams.
2. Open your favorite tool and use the new database

USE newdb;

In [2]:
%load_ext sql

import getpass
user = 'root'
password = getpass.getpass()
#Recuerda dar doble click al schema en MySqlpara que esté activada
connection_string = f'mysql+pymysql://{user}:{password}@127.0.0.1:3306/schema_hw'
%sql $connection_string

········

'Connected: root@schema_hw'

Para importar una base de datos ve a la pestaña Server -> Data import y seleccionar, import from self-contained file

In [23]:
%%sql
SELECT *
FROM employees
LIMIT 15

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT *
FROM employees
LIMIT 15]
(Background on this error at: http://sqlalche.me/e/13/f405)

3.How many employees earn more than $10,000

In [4]:
%%sql
SELECT COUNT(*)
FROM employees
WHERE salary>10000;

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT COUNT(*)
FROM employees
WHERE salary>10000;]
(Background on this error at: http://sqlalche.me/e/13/f405)

4. Retrieve the data of employee 123.

In [5]:
%%sql
SELECT *
FROM employees
WHERE employee_id = 123

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT *
FROM employees
WHERE employee_id = 123]
(Background on this error at: http://sqlalche.me/e/13/f405)

5. How many employees work on each department.

In [6]:
%%sql
SELECT department_id, COUNT(*)
FROM employees
GROUP BY department_id;

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT department_id, COUNT(*)
FROM employees
GROUP BY department_id;]
(Background on this error at: http://sqlalche.me/e/13/f405)

6. Employees who work on the "Accounting" department.

In [7]:
%%sql
SELECT employee_id,first_name,last_name
FROM employees
WHERE job_id IN ("FI_ACCOUNT","AC_ACCOUNT")

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT employee_id,first_name,last_name
FROM employees
WHERE job_id IN ("FI_ACCOUNT","AC_ACCOUNT")]
(Background on this error at: http://sqlalche.me/e/13/f405)

7. Employees who get a commission.

In [8]:
%%sql
SELECT employee_id,first_name,last_name,commission_pct
FROM employees
WHERE commission_pct > 0

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT employee_id,first_name,last_name,commission_pct
FROM employees
WHERE commission_pct > 0]
(Background on this error at: http://sqlalche.me/e/13/f405)

8. Add a new attribute for the employees table for the birth date.

In [9]:
%%sql
ALTER TABLE employees ADD (BIRTH_DATE DATE)

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: ALTER TABLE employees ADD (BIRTH_DATE DATE)]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [10]:
%%sql
DESCRIBE employees

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: DESCRIBE employees]
(Background on this error at: http://sqlalche.me/e/13/f405)

9. All the employees who were hired before August of 1987.

In [11]:
%%sql
SELECT employee_id,first_name,last_name, hire_date
FROM employees
WHERE hire_date < "1987-08-01"

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT employee_id,first_name,last_name, hire_date
FROM employees
WHERE hire_date < "1987-08-01"]
(Background on this error at: http://sqlalche.me/e/13/f405)

10. Maximum and Minimum salary.

In [12]:
%%sql
SELECT MAX(salary), MIN(salary)
FROM employees

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT MAX(salary), MIN(salary)
FROM employees]
(Background on this error at: http://sqlalche.me/e/13/f405)

11. Number of employees hired per month

In [13]:
%%sql
SELECT MONTH(hire_date),COUNT(*)
FROM employees
GROUP BY MONTH(hire_date)

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT MONTH(hire_date),COUNT(*)
FROM employees
GROUP BY MONTH(hire_date)]
(Background on this error at: http://sqlalche.me/e/13/f405)

12. List all the employees who are not "Programmer".

In [14]:
%%sql
SELECT employee_id,FIRST_NAME,LAST_NAME
FROM employees
WHERE job_id <> "IT_PROG"

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT employee_id,FIRST_NAME,LAST_NAME
FROM employees
WHERE job_id <> "IT_PROG"]
(Background on this error at: http://sqlalche.me/e/13/f405)

13. Get all the data from the employees whose name is Julia, John, Peter, Laura or Kevin.

In [15]:
%%sql
SELECT * 
FROM employees
WHERE first_name IN ("Julia", "John", "Peter", "Laura", "Kevin")

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT *
FROM employees
WHERE first_name IN ("Julia", "John", "Peter", "Laura", "Kevin")]
(Background on this error at: http://sqlalche.me/e/13/f405)

14. Name and last name of the employees sorted by salary (descending) and surname (ascending).

In [16]:
%%sql
SELECT FIRST_NAME,LAST_NAME
FROM employees
ORDER BY salary DESC, last_name ASC

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT FIRST_NAME,LAST_NAME
FROM employees
ORDER BY salary DESC, last_name ASC]
(Background on this error at: http://sqlalche.me/e/13/f405)

15. Postal codes and its continent (regions).

In [17]:
%%sql
SELECT postal_code,region_id
FROM locations, countries

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.locations' doesn't exist")
[SQL: SELECT postal_code,region_id
FROM locations, countries]
(Background on this error at: http://sqlalche.me/e/13/f405)

16. Name of the employees and the city where their department is located.

In [18]:
%%sql
SELECT first_name, city
FROM employees JOIN departments JOIN locations
ON (employees.department_id=departments.department_id 
AND locations.location_id=departments.location_id)

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT first_name, city
FROM employees JOIN departments JOIN locations
ON (employees.department_id=departments.department_id
AND locations.location_id=departments.location_id)]
(Background on this error at: http://sqlalche.me/e/13/f405)

17. Average salary of the "Shipping" department.

In [19]:
%%sql
SELECT AVG(salary)
FROM employees JOIN departments 
WHERE (department_name = "Shipping") 
AND (employees.department_id=departments.department_id)

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT AVG(salary)
FROM employees JOIN departments
WHERE (department_name = "Shipping")
AND (employees.department_id=departments.department_id)]
(Background on this error at: http://sqlalche.me/e/13/f405)

18. All the departments which have between 3 and 7 employees.

In [20]:
%%sql
SELECT department_id, COUNT(department_id)
FROM employees
GROUP BY department_id
HAVING COUNT(department_id) BETWEEN 3 AND 7

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT department_id, COUNT(department_id)
FROM employees
GROUP BY department_id
HAVING COUNT(department_id) BETWEEN 3 AND 7]
(Background on this error at: http://sqlalche.me/e/13/f405)

19. Employees who are getting less money than the average of their colleagues of the same department.

In [21]:
%%sql
CREATE VIEW jobs_salary AS 
SELECT job_id,AVG(salary) AS avg_sal
FROM employees
GROUP BY job_id

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: CREATE VIEW jobs_salary AS
SELECT job_id,AVG(salary) AS avg_sal
FROM employees
GROUP BY job_id]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [22]:
%%sql
SELECT employee_id, salary, avg_sal
FROM employees JOIN jobs_salary
ON (employees.job_id=jobs_salary.job_id 
AND   employees.salary<jobs_salary.avg_sal)

 * mysql+pymysql://root:***@127.0.0.1:3306/schema_hw
(pymysql.err.ProgrammingError) (1146, "Table 'schema_hw.employees' doesn't exist")
[SQL: SELECT employee_id, salary, avg_sal
FROM employees JOIN jobs_salary
ON (employees.job_id=jobs_salary.job_id
AND   employees.salary<jobs_salary.avg_sal)]
(Background on this error at: http://sqlalche.me/e/13/f405)

20. City and number of employees of cities which have more employees than the average.